@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%; }

.header {
  width: 100%;
  grid-area: header;
  font-family: 'Times New Roman', Times, serif; }
  .header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem; }
    .header nav ul a {
      color: whitesmoke;
      text-decoration: none;
      padding: 1rem; }
      .header nav ul a:hover {
        background-color: #888;
        color: black; }
  .header h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
    justify-content: center; }

.sec1 {
  margin: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem;
  grid-area: sec1; }
  .sec1 h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
    justify-content: center; }
  .sec1 h3 {
    text-align: center;
    color: oldlace; }

.secServicios {
  margin: 0.1rem;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2rem;
  grid-area: secServicios; }
  .secServicios h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
    justify-content: center; }
  .secServicios h3 {
    text-align: center;
    color: oldlace;
    font-size: 1rem; }
  .secServicios div {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #525252, #3d72b4);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid beige; }
  .secServicios img {
    align-items: center;
    width: 10rem;
    transition: all 1s ease; }
    .secServicios img:hover {
      transform: scale(1.2);
      border-radius: 20%; }

.catalogo div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .catalogo div img {
    align-items: flex-start;
    width: 25rem; }

.menu {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  color: black;
  height: 15rem;
  width: auto;
  background-color: #e2d5c6;
  grid-area: menu; }

.menu2 {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 4px;
  color: black;
  height: 25rem;
  width: auto;
  background-color: #e2d5c6;
  grid-area: menu2; }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  margin: auto;
  align-items: center;
  grid-area: aside; }
  .aside img {
    border: 0.1rem solid black;
    width: 200px;
    height: 400px; }

.colorr {
  color: black;
  background-color: #795d5d;
  opacity: 0.9; }

.aside2 {
  grid-area: aside2; }

.nota1 {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: row;
  align-items: center;
  border: 10px solid gray;
  background-color: #998e8e;
  transition: all 2s ease; }
  .nota1 h3 {
    text-align: center;
    color: oldlace;
    font-size: 2rem; }
  .nota1 img {
    align-items: flex-start;
    width: 310px;
    height: auto;
    border-radius: 10px;
    flex-direction: row; }
  .nota1 a {
    text-decoration: none;
    transition: all 2s ease; }
    .nota1 a:hover {
      transform: scale(0.8);
      border-radius: 20%; }
  .nota1 p {
    color: black;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    flex-direction: column; }
  .nota1:hover {
    transform: scale(0.9);
    border-radius: 20%; }

.infoNosotros {
  margin: 0 auto;
  height: auto;
  width: 90%;
  flex-direction: column;
  grid-area: infoNosotros; }

.not1 {
  padding: .3rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: not1; }

.text h2 {
  font-size: 2rem;
  color: #eaebbf; }

.text p {
  color: aliceblue;
  font-family: Poppins;
  text-align: justify;
  font-weight: bold; }

.nota2 {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: row-reverse;
  align-items: center;
  border: 10px solid gray;
  background-color: #998e8e;
  transition: all 2s ease; }
  .nota2 h3 {
    text-align: center;
    color: oldlace;
    font-size: 2rem; }
  .nota2:hover {
    transform: scale(0.9);
    border-radius: 20%; }
  .nota2 p {
    color: black;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    flex-direction: column; }
  .nota2 img {
    align-items: flex-start;
    width: 310px;
    height: auto;
    border-radius: 10px;
    flex-direction: row; }
  .nota2 a {
    text-decoration: none;
    transition: all 2s ease; }
    .nota2 a:hover {
      transform: scale(0.8);
      border-radius: 20%; }

.not2 {
  padding: .2rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: not2; }

.contactos {
  padding: 1.2rem;
  border: 2px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to right, #ef3b36, #ffffff); }

#secc2 {
  padding: 10px;
  margin: 0 auto;
  text-align: start;
  justify-content: flex-start; }

.secciones1 {
  width: 20rem; }
  .secciones1 iframe {
    width: fit-content; }

.nota3 {
  display: flex;
  width: 100%;
  color: white;
  flex-direction: row;
  align-items: center;
  border: 10px solid gray;
  background-color: #998e8e;
  transition: all 2s ease; }
  .nota3 h3 {
    text-align: center;
    color: oldlace;
    font-size: 2rem; }
  .nota3:hover {
    transform: scale(0.9);
    border-radius: 20%; }
  .nota3 img {
    align-items: flex-start;
    width: 310px;
    height: auto;
    border-radius: 10px;
    flex-direction: row; }
  .nota3 a {
    text-decoration: none;
    transition: all 2s ease; }
    .nota3 a:hover {
      transform: scale(0.8);
      border-radius: 20%; }
  .nota3 p {
    color: black;
    padding: 1rem;
    line-height: 1.5;
    text-align: center;
    flex-direction: column; }

.not3 {
  padding: 0.2rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: not3; }

.footer {
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: #5c5c5c;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  grid-area: footer; }
  .footer img {
    width: 30px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    position: right; }

.top {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #fdfdfd;
  border-radius: 10px; }

.naranja {
  background-color: #5c5c5c; }

.white {
  color: azure; }

.blu {
  color: blueviolet; }

.logo {
  width: 100px;
  border-radius: 50%; }

.container {
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.1fr;
  row-gap: 0.2rem;
  grid-template-areas: "header header header header" "menu sec1 sec1 aside" "not1 not1 not1 not1" "not2 not2 not2 not2" "not3 not3 not3 not3" "footer footer footer footer"; }

.containerCont {
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
  row-gap: 0.2rem;
  grid-template-areas: "header header header header" "menu sec1 sec1 aside" "not1 not1 not1 not1" "footer footer footer footer"; }

.containerNosotros {
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 3fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
  row-gap: 0.2rem;
  grid-template-areas: "header header header header" "menu sec1 sec1 aside" "infoNosotros infoNosotros infoNosotros infoNosotros" "footer footer footer footer"; }

.containerProductos {
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 3fr 2.5fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
  row-gap: 0.2rem;
  grid-template-areas: "header header header header" "menu secServicios secServicios aside" "menu secServicios secServicios aside" "footer footer footer footer"; }

@media only screen and (max-width: 990px) {
  .container {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header header" "menu sec1" "aside aside" "not1 not1" "not2 not2" "not3 not3" "footer footer"; }
  .containerNosotros {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header header" "menu sec1" "aside aside" "infoNosotros infoNosotros" "footer footer"; }
  .containerProductos {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header" "menu menu" "secServicios secServicios" "aside aside" "footer footer"; }
  .containerCont {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
    row-gap: 0.2rem;
    grid-template-areas: "header header" "menu sec1" "aside aside" "not1 not1" "footer footer"; }
  .menu {
    height: auto; }
  .sec1 {
    width: 100%;
    height: auto; }
    .sec1 h3 {
      font-size: 1rem; }
    .sec1 h5 {
      font-size: 1rem; }
    .sec1 p {
      font-size: 0.8rem; }
  .aside img {
    width: 100%;
    margin: 1rem;
    padding: 1rem; }
  .not1 img {
    width: 150%;
    height: auto; }
  .nota1 {
    height: auto;
    width: 100%;
    justify-content: space-between; }
  .nota2 {
    height: auto;
    width: 100%; }
  .not1 p {
    font-size: 1rem; }
  .not2 img {
    width: 100%;
    height: auto; }
  .not2 p {
    font-size: 1rem; }
  .not1 h3 {
    font-size: 1rem; }
  .not2 h3 {
    font-size: 1rem; }
  .text {
    padding: 0.1rem;
    justify-content: space-around; }
  .prod {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid beige; }
    .prod img {
      align-items: center;
      width: 10rem; } }

@media only screen and (max-width: 780px) {
  .container {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 2fr 2fr 2fr 1fr auto;
    row-gap: 2rem;
    grid-template-areas: "header header" "menu menu" "sec1 sec1" "aside aside" "not1 not1" "not2 not2" "not3 not3" "footer footer"; }
  .containerNosotros {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header header" "menu sec1" "aside aside" "infoNosotros infoNosotros" "footer footer";
    margin: 0 auto; }
  .menu {
    height: 15rem;
    width: 10rem;
    padding: 5px; }
    .menu button {
      font-size: 0.7rem;
      height: 3rem; }
  .containerProductos {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "header header" "menu menu" "secServicios secServicios" "aside aside" "footer footer"; }
  .containerCont {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.1fr;
    row-gap: 0.2rem;
    grid-template-areas: "header header" "menu sec1" "aside aside" "not1 not1" "footer footer"; }
  body {
    background-color: #5c5252; }
  .aside {
    width: auto; }
    .aside img {
      width: auto;
      margin: 1rem;
      padding: 1rem; }
  .sec1 {
    width: 100%;
    align-items: center;
    margin: 0.1rem;
    padding: 0.1rem;
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
    justify-content: space-around; }
    .sec1 h2 {
      color: #fff; }
  .colorr h5 {
    font-size: 0.1rem; }
  .catalogo div img {
    align-items: flex-start;
    width: 15rem; }
  .nota1 {
    height: auto;
    width: 90%;
    flex-direction: column; }
    .nota1 img {
      width: 100%;
      height: auto; }
    .nota1 p {
      font-size: 1rem; }
    .nota1 h3 {
      font-size: 1rem; }
  .not2 {
    align-items: center; }
  .nota2 {
    height: auto;
    width: 90%;
    flex-direction: column;
    justify-content: center; }
    .nota2 img {
      width: 100%;
      height: auto; }
    .nota2 p {
      font-size: 1rem; }
  .nota3 {
    height: auto;
    width: 90%;
    flex-direction: column; }
    .nota3 h3 {
      font-size: 1rem; }
    .nota3 img {
      width: 100%;
      height: auto; }
    .nota3 p {
      font-size: 1rem; }
  .prod img {
    align-items: center;
    width: 10rem; } }

@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, auto);
    row-gap: 3rem;
    grid-template-areas: "header" "menu" "sec1" "aside" "not1" "not2" "not3" "footer"; }
  .containerNosotros {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    row-gap: 2rem;
    grid-template-areas: "header" "menu" "sec1" "aside" "infoNosotros" "footer"; }
  .containerProductos {
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header header" "menu menu" "secServicios secServicios" "aside aside" "footer footer"; }
  .containerCont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-areas: "header" "menu" "sec1" "aside" "not1" "footer"; }
  body {
    background-color: #382c2c;
    row-gap: 10rem; }
  .sec1 h2 {
    color: #fff; }
  .menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .menu button {
      width: 50%; }
    .menu div {
      width: 50%; }
  .secServicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .secServicios img {
      align-items: center;
      width: 10rem; }
  .menu2 {
    height: 15rem;
    width: 10rem;
    padding: 10px; }
    .menu2 button {
      font-size: 0.7rem;
      height: 3rem; }
  .aside {
    width: auto; }
  .not1 {
    height: auto;
    width: 100%;
    flex-direction: column; }
    .not1 h2 {
      color: #fff; }
    .not1 h3 {
      font-size: 1rem; }
    .not1 p {
      font-size: 1rem;
      text-align: justify; }
    .not1 .nota1 img {
      width: 70%;
      height: auto;
      align-items: center;
      margin: auto; }
  .nota2 {
    height: auto;
    width: 100%;
    flex-direction: column; }
  .not2 img {
    width: 100%;
    height: auto; }
  .not2 p {
    font-size: 1rem; }
  .not2 h3 {
    font-size: 1rem; }
  .nota3 img {
    width: 100%;
    height: auto; }
  .nota3 {
    height: auto;
    width: 100%;
    flex-direction: column; }
  .not3 p {
    font-size: 1rem; }
  .nota3 h3 {
    font-size: 1rem; }
  .nota3 a:hover {
    transform: scale(0.8);
    border-radius: 20%; }
  .nota3:hover {
    transform: scale(0.8);
    border-radius: 20%; }
  .infoNosotros {
    height: auto;
    flex-direction: column; }
  .text p {
    font-size: 1rem; } }

.container404 {
  /*text styling*/
  /*search style*/ }
  .container404 .containerGhost {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: -40px; }
  .container404 .topp {
    margin-top: 30px; }
  .container404 .ghost {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: #EDEDED;
    border: 1px solid #BFC0C0;
    border-bottom: none;
    animation: float 2s ease-out infinite; }
  .container404 .ghost-copy {
    width: 50%;
    height: 53%;
    left: 25%;
    top: 10%;
    position: absolute;
    border-radius: 50% 50% 0 0;
    background: #EDEDED;
    border: 1px solid #BFC0C0;
    border-bottom: none;
    animation: float 2s ease-out infinite;
    z-index: 0; }
  .container404 .face {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%; }
  .container404 .eye, .container404 .eye-right {
    position: absolute;
    background: #585959;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 40%; }
  .container404 .eye {
    left: 25%; }
  .container404 .eye-right {
    right: 25%; }
  .container404 .mouth {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10px;
    height: 10px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent #585959 #585959 transparent;
    transform: rotate(45deg); }
  .container404 .one, .container404 .two, .container404 .three, .container404 .four {
    position: absolute;
    background: #EDEDED;
    top: 85%;
    width: 25%;
    height: 23%;
    border: 1px solid #BFC0C0;
    z-index: 0; }
  .container404 .one {
    border-radius: 0 0 100% 30%;
    left: -1px; }
  .container404 .two {
    left: 23%;
    border-radius: 0 0 50% 50%; }
  .container404 .three {
    left: 50%;
    border-radius: 0 0 50% 50%; }
  .container404 .four {
    left: 74.5%;
    border-radius: 0 0 30% 100%; }
  .container404 .shadow {
    position: absolute;
    width: 30%;
    height: 7%;
    background: #BFC0C0;
    left: 35%;
    top: 80%;
    border-radius: 50%;
    animation: scale 2s infinite; }

@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes float {
  50% {
    transform: translateY(15px); } }
  .container404 .bottom {
    margin-top: 10px; }
  .container404 h1 {
    font-family: "Abril Fatface", serif;
    color: #EDEDED;
    text-align: center;
    font-size: 9em;
    margin: 0;
    text-shadow: -1px 0 #BFC0C0, 0 1px #BFC0C0, 1px 0 #BFC0C0, 0 -1px #BFC0C0; }
  .container404 h3 {
    font-family: "Lato", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: #BFC0C0;
    margin-top: -20px;
    font-weight: 900; }
  .container404 p {
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #585959;
    font-size: .6em;
    margin-top: -20px;
    text-transform: uppercase; }
  .container404 .search {
    text-align: center; }
  .container404 .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; }
  .container404 .search-bar {
    border: 1px solid #BFC0C0;
    padding: 5px;
    height: 20px;
    margin-left: -30px;
    width: 200px;
    outline: none; }
    .container404 .search-bar:focus {
      border: 1px solid #D3DEEA; }
  .container404 .search-btn {
    position: absolute;
    width: 30px;
    height: 32px;
    border: 1px solid #BFC0C0;
    background: #BFC0C0;
    text-align: center;
    color: #EDEDED;
    cursor: pointer;
    font-size: 1em;
    outline: none; }
    .container404 .search-btn:hover {
      background: #EDEDED;
      border: 1px solid #EDEDED;
      color: #BFC0C0;
      transition: all .2s ease; }
  .container404 .btn {
    background: #EDEDED;
    padding: 15px 20px;
    margin: 5px;
    color: #585959;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: 1px;
    border: 0; }
    .container404 .btn:hover {
      background: #BFC0C0;
      transition: all .4s ease-out; }
