.text {
    h2{
        font-size: 2rem;
        color: rgb(234, 235, 191);
    }
    p{
        color:aliceblue;
        font-family: Poppins;
        text-align: justify;
        font-weight: bold;
    }
} 
    